body {
    font-style: normal;
    font-size: 13pt;
    font-family: "Times New Roman", Times, sans-serif;
    /* position: relative; */
    margin: 0;
}

nav a {
    /* display: block; */
    color: #58a6e0;
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    font-size: 15pt;
    /* line-height: 0; */
    /* font-family:'Times New Roman', Times, serif; */
    text-decoration: none;
    /* background-color: #f5f6f8; */
}

nav a:hover {
    color: #f05347;
}

nav a:not(:last-of-type) {
    margin-right: 1.5vw;
}

section {
    display: none;
    /* position: absolute; */
}

section:target {
    display: block;
}

h2 {
    /* color: grey; */
    font-style: italic;
    /* color: #4a4a4a; */
    /* font-variant:unset; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    /* line-height: 0; */
    /* font-family:'Times New Roman', Times, serif; */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-indent: 50pt;
}

h3 {
    padding-left: 50pt;
    color: #4a4a4a;
    /* font-style: italic; */
    /* font-variant:unset; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    line-height: 0;
    /* font-family:'Times New Roman', Times, serif; */
    text-indent: 30pt;
    /* background-color: #f5f6f8;  */
}

h4 {
    /* display: block; */
    color: #4a4a4a;
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    /* font-size: 11pt; */
    line-height: 0;
    text-indent: 30pt;
    /* border-top: 1px solid #4a4a4a ; */
    /* background-color:;#f5f6f8; */
    /* background-color:#4a4a4a; */

}

h5 {
    /* color: grey; */
    font-style: italic;
    /* font-variant:unset; */
    /* font-weight: 600; */
    font-size: 12pt;
    line-height: 0;
    text-indent: 20pt;
    /* font-family:'Times New Roman', Times, serif; */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.n1 {
    display: inline-block;
    /* position:relative; */
    color: grey;
    width: 20pt;
    padding-right: 5pt;
    margin-right: 20pt;
}

.n2,
.n6 {
    /* display: inline-block; */
    /* position:relative; */
    /* width: 300pt; */
    flex: 2 30pt;
    /* margin-left:20pt ; */
    /* padding-left:20pt ; */
}

.n3 {
    display: inline-block;
    width: 120pt;
}

.n4 {
    display: inline-block;
    width: 80pt;
}

.n5,
.n7 {
    /* display: inline-block; */
    /* width: 100%; */
    /* position: absolute; */
    flex: 3;

}

.n8 {
    display: inline-flex;
    flex-wrap: wrap;
    /* align-items:center; */
    width: 100%;
}

.wraper {
    height: 100%;
}

.block_row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    border: 20px solid #eee86e;
    margin: 0px 0px 20px 0px;
}

.block_column {
    border: 20px solid #58a6e0;
}

.block_item {
    background-color: #b9aeae;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: #837f4e;
    font-weight: 700;
}

.f_container {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid #4a4a4a;
    margin: 0 2px -1px;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* border-top: 1px solid #4a4a4a; */
    /* border-left: 1px solid #4a4a4a; */
    /* border-right: 1px solid #4a4a4a; */
}

.f1 {
    flex: 0 0 33%;
    font-weight: 600;
    color: #4a4a4a;
    border-right: 1px solid #4a4a4a;
}

.f2 {
    font-weight: normal;
    color: #58a6e0;
}

.f3 {
    padding-left: 4px;
}

.s1 {
    color: #000;
    font-weight: 600;

}

span {
    padding: 2px;
    font-style: normal;
    font-weight: normal;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* gap: 100px; */
    border: 1px solid rgba(74, 74, 74, 1);
    margin: 0 2px -1px 2px;
    /* align-items: center; */
}

.grid_1 {
    display: grid;
    padding: 4px;
    border-right: 1px solid rgba(74, 74, 74, 1);
    /* background-color: #b9aeae; */
    /* gap: 50px; */
    /* grid-template-rows: 1fr 1fr ; */
    justify-items: center;
    /* justify-content: start; */
    align-items: center;
    align-content: center;
}

.grid_2 {
    padding: 4px;
    display: grid;
    justify-items: center;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.grid_item_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #4a4a4a;
    margin: 0 2px -1px 2px;

}

.grid_item_2 {
    padding-left: 4px;
    display: grid;
    border-right: 1px solid #4a4a4a;
    /* justify-items: start; */
    justify-content: start;
    /* align-items: center; */
    /* align-content: center; */
}

.grid_item_3 {
    padding-left: 4px;
    display: grid;
    border-right: 1px solid rgba(74, 74, 74, 1);

}

.grid_item_4 {
    padding-left: 4px;
    display: grid;
    border-right: 1px solid rgba(74, 74, 74, 1);
}

.item_1 {
    /* font-weight: 600; */
    /* color: #4a4a4a; */
    text-decoration: none;
    /* font-style: italic; */
    /* padding: 2px 0 0 2px; */
}

.content_1 {
    font-style: italic;
    font-weight: 600;
    color: #4a4a4a;
    /* background-color: #b9aeae; */
}

.content_2 {
    color: #58a6e0;
    text-decoration: none;
}

.content_3 {
    font-weight: 600;
    color: #4a4a4a;
}

.content_4 {
    text-decoration: none;
    /* padding: 2px; */
    color: #4a4a4a;
    font-weight: 600;
    /* font-style: italic; */
}

.content_5 {
    /* color: #D7BA7D; */
    color: #58a6e0;
    font-weight: 600;
    /* font-style: italic; */
    font-style: normal;
}

.content_6 {
    /* font-style: italic; */
    color: #58a6e0;
    font-weight: 600;
    /* color: #D7BA7D; */
    /* color: #CE9178 */
}

/*  выделение частей */

/* .content_7 {
    user-select: all;
} */

/* .content_7:focus {
    animation: select 100ms step-end forwards;
} */

/* @keyframes select {
    to {
        -webkit-user-select: text;
        user-select: text;
    }
} */

/* .content_8 {
    opacity: 0;
} */

.content_9 {
    /* font-style: italic; */
    font-weight: 600;
    color: #4a4a4a;
    /* background-color: #b9aeae; */
}

.content_10 {
    font-weight: 600;
    color: #4a4a4a;
    font-style: italic;
    /* background-color:aliceblue; */
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 500px;
    /* Ширина подсказки */
    left: 0;
    top: 0;
    /* Положение подсказки */
    background: rgba(255, 255, 0, 0);
    /*цвет фона */
    color: #3989c9;
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    /* Параметры тени */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
}

  [data-tooltip]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    top: 2em;
    /* Положение подсказки */
}

.grid_modal {
 display: grid;
    grid-template-columns: 1fr 3fr;
}

.item_modal {
    text-decoration: none;
}


[data-tooltip1]::after {
    content: attr(data-tooltip1);
    /* Выводим текст */
    /* display: flex; */
    position: fixed;
    /* Абсолютное позиционирование */
    width: 200px;
    /* Ширина подсказки */
    left: 40px;
    top: 100px;
    /* Положение подсказки */
    background: rgba(255, 255, 0, 0);
    /* Синий цвет фона */
    color: #3989c9;
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    /* Параметры тени */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
    /* z-index: 1; */
}

[data-tooltip1]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    top: 2em;
    /* Положение подсказки */
}
[data-tooltip2]::after {
    content: attr(data-tooltip2);
    /* Выводим текст */
    position: fixed;
    /* Абсолютное позиционирование */
    width: 100px;
    /* Ширина подсказки */
    left: 200px;
    top: 0;
    /* Положение подсказки */
    background: rgba(255, 255, 0, 0);
    /* Синий цвет фона */
    color: #3989c9;
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    /* Параметры тени */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
    /* z-index: 3; */
}

[data-tooltip2]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    top: 2em;
    /* Положение подсказки */
}
